*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    /* background-color: antiquewhite; */
}

.container-fluid{
    /* background-color: blue; */
    display: flex;
}

.navbar-nav{    
    /* background-color: aquamarine; */
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
    flex-direction: row;
}

.nav-item{
    /* background-color: yellowgreen; */
    margin: 0.5vw;
    font-size: 1.3vw;
    font-weight: 600;
}

.nav-link{
    /* background-color: blueviolet; */
}

.nav-link:hover{
    text-decoration: underline;
}

.nav-link .active{
    text-decoration: underline;
}

/* .container-fluid{
    width: 76%;
    padding: 0.5vw;
    margin-top: 0.5vw;
    display: flex;
} */

/* .navbar-brand{
    margin: auto;
    color: rgb(10, 84, 196);
    color: rgb(207, 184, 32);
    width: 14vw;
    font-weight: 600;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    background-color: aqua;
} */

/* .line-under-navtext{
    width: 76%;
} */

.short-intro{
    background: linear-gradient(rgb(255, 255, 255), antiquewhite);
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.my-photo{
    /* background-color: blueviolet; */
}

.photo-only{
    
}

.the-photo{
    width: 20vw;
}