*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    margin: 0.5vw;
    font-size: 1.3vw;
    font-weight: 600;
}

.nav-link:hover{
    text-decoration: underline;
}

.pre-intro{
    background: linear-gradient(rgb(255, 255, 255), rgb(249, 213, 169));
    width: 100%;
    height: auto;
}

.the-photo{
    width: 23vw;
    margin-left: 3vw;
}

#introduction{
    background: linear-gradient(rgb(249, 213, 169), rgb(100, 194, 249));
    overflow-x: hidden;
}

.line-1{
    border: 0.2vw solid black;
    border-radius: 1vw;
    width: 70%;
    opacity: 50%;
}

.intro-desc{
    height: auto;
    padding: 1vw 7vw;
}

#span-text{
    font-weight: 700;
}

#hobbies{
    background: linear-gradient(rgb(100, 194, 249), rgb(195, 139, 251));
    overflow-x: hidden;
}

#music{
    background-color: rgba(255, 255, 255, 0);
}

#music:hover{
    background-color: white;
    transition: 0.2s;
}

#hob-container{
    background: linear-gradient(rgb(100, 194, 249), rgb(195, 139, 251));
}

#the-container{
    background: linear-gradient(rgb(100, 194, 249), rgb(195, 139, 251));
}

#pop-list:hover{
    background-color: gold;
    transition: 0.2s;
}

#rnb-list:hover{
    background-color: silver;
    transition: 0.2s;
}

#classic-list:hover{
    background-color: #CD7F32;
    transition: 0.2s;
}

#watch{
    background-color: rgba(255, 255, 255, 0);
}

#watch:hover{
    background-color: white;
    transition: 0.2s;
}

#fantasy-list:hover{
    background-color: gold;
    transition: 0.2s;
}

#scifi-list:hover{
    background-color: silver;
    transition: 0.2s;
}

#comedy-list:hover{
    background-color: #CD7F32;
    transition: 0.2s;
}

#read{
    background-color: rgba(255, 255, 255, 0);
}

#read:hover{
    background-color: white;
    transition: 0.2s;
}

#action-list:hover{
    background-color: silver;
    transition: 0.2s;
}

#rom-list:hover{
    background-color: #CD7F32;
    transition: 0.2s;
}

#skills{
    background: linear-gradient(rgb(195, 139, 251), rgb(255, 178, 238));
    overflow-x: hidden;
}

#experiences{
    background: linear-gradient(rgb(255, 178, 238), rgb(249, 213, 169));
    overflow-x: hidden;
}
