*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav{
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
    flex-direction: row;
}

.nav-item{
    margin: 0.5vw;
    font-size: 1.3vw;
    font-weight: 600;
}

.nav-link:hover{
    text-decoration: underline;
}

.nav-link .active{
    text-decoration: underline;
}

.pre-intro{
    background: linear-gradient(rgb(255, 255, 255), rgb(249, 213, 169));
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.the-photo{
    width: 23vw;
    margin-left: 3vw;
}

.spongebob-si{
    display: flex;
    justify-content: center;
}

#introduction{
    background: linear-gradient(rgb(249, 213, 169), rgb(100, 194, 249));
    overflow-x: hidden;
}

.line-1{
    border: 0.2vw solid black;
    border-radius: 1vw;
    width: 70%;
    opacity: 50%;
}

.intro-desc{
    height: auto;
    padding: 1vw 7vw;
}

#span-text{
    font-weight: 700;
}

#hobbies{
    background: linear-gradient(rgb(100, 194, 249), rgb(195, 139, 251));
    overflow-x: hidden;
}

#skills{
    background: linear-gradient(rgb(195, 139, 251), rgb(255, 178, 238));
    overflow-x: hidden;
}

#experiences{
    background: linear-gradient(rgb(255, 178, 238), black);
    overflow-x: hidden;
}